<form name="newCardForm" novalidate
  ng-submit="newCardForm.$valid && vm.onSubmit()">

  <div class="form-group">
    <label for="name" class="control-label">Cardholder name</label>
    <input type="text" name="name" required class="form-control"
      placeholder="Your name as it appears on the card" autocomplete="off"
      tw-validation
      ng-model="vm.cardDetails.name" />
  </div>

  <div class="form-group">
    <label for="card" class="control-label">Card number</label>
    <input type="text" name="number" required class="form-control"
      placeholder="The long number across the front" autocomplete="off"
      ng-model="vm.cardDetails.number"
      tw-validation
      payments-validate="card"
      payments-type-model="vm.brand"
      payments-format="card" />
      <tw-payment-card-flipper
        class="tw-new-card-form__payment-card-icon"
        brand="vm.brand"
        is-flipped="vm.isSecurityCodeFocused">
        <div class="tw-new-card-form__security-code-line"
          ng-class="{ 'tw-new-card-form__security-code-line--visible' :
            vm.isSecurityCodeFocused }">
        </div>
      </tw-payment-card-flipper>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="expiry" class="control-label">Card expiry date</label>
        <input type="text" name="expiry" required class="form-control"
          placeholder="MM / YY" autocomplete="off"
          ng-model="vm.cardDetails.expiry"
          tw-validation
          payments-validate="expiry"
          payments-format="expiry">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="securityCode" class="control-label">
          Security code
          <span ng-if="type">
            {{ vm.brand === 'visa' ? '(CVV)' : '(CVC)'}}
          </span>
        </label>
        <tw-security-code-input
          ng-model="vm.cardDetails.securityCode"
          focused="vm.isSecurityCodeFocused">
        </tw-security-code-input>
      </div>
    </div>
  </div>

  <tw-pay-button
    currency-symbol="vm.currencySymbol"
    amount="vm.amount"
    is-disabled="vm.isProcessing">
  </tw-pay-button>
</form>