<div class="tw-saved-card"
  ng-class="{ 'is-selected' : vm.isSelected() }"
  ng-click="vm.selectCard()">

  <small>
    <a href="" class="animate-opacity pull-right m-t"
      ng-if="!vm.isSelected()">
      Select card
    </a>
  </small>

  <tw-payment-card-flipper
    class="tw-saved-card__payment-card-icon"
    brand="vm.brand"
    is-flipped="vm.isSecurityCodeFocused">
    <div class="tw-saved-card__security-code-line"
      ng-class="{ 'tw-saved-card__security-code-line--visible' :
        vm.isSecurityCodeFocused }">
    </div>
  </tw-payment-card-flipper>

  <span class="text-capitalize tw-saved-card__brand-type">
    {{ ::vm.brand }} {{ ::vm.type | lowercase }}
  </span>
  <small class="tw-saved-card__number">Ending in {{ ::vm.number }}</small>

  <form name="savedCardPaymentForm" novalidate
    class="animate-opacity"
    ng-if="vm.isSelected()"
    ng-submit="savedCardPaymentForm.$valid && vm.onSubmit()">

    <div class="row">
      <div class="col-sm-8 col-md-6">
        <div class="form-group m-b m-t-md">
          <label class="tw-saved-card__security-code-label
            control-label">
            Please re-enter your
            <span ng-if="vm.brand">
              {{ vm.brand === 'visa' ? 'CVV' : 'CVC' }}
            </span>
          </label>
          <tw-security-code-input
            ng-model="vm.selected.securityCode"
            focused="vm.isSecurityCodeFocused">
          </tw-security-code-input>
        </div>
      </div>
    </div>

    <tw-pay-button
      currency-symbol="vm.currencySymbol"
      amount="vm.amount"
      is-disabled="vm.isProcessing">
    </tw-pay-button>
  </form>
</div>