<!DOCTYPE html>
<html>
<head>

<title>Payment Components – TransferWise</title>
<meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link href="vendor/css/bootstrap.min.css" rel="stylesheet">
<link href="../dist/payment-components.min.css" rel="stylesheet">

<style>body {background-color: #f2f5f7;}</style>
</head>
<body ng-app="DemoApp" ng-controller="DemoController as vm">

<div class="container m-t-lg">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="m-b-0">Payment components demo</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8">
          <h4><code>tw-saved-cards</code> in action</h4>
          <tw-saved-cards
            cards="vm.cards"
            selected="vm.selected"
            currency-symbol="vm.currencySymbol"
            amount="vm.amount"
            on-submit="vm.onSubmit()"
            is-processing="vm.isProcessing">
          </tw-saved-cards>
          <h4 class="m-t-lg">Usage of <code>tw-saved-cards</code></h4>
          <pre>&lt;tw-saved-cards
  cards="vm.cards"
  selected="vm.selected"
  currency-symbol="vm.currencySymbol"
  amount="vm.amount"
  on-submit="vm.onSubmit()"
  is-processing="vm.isProcessing"&gt;
&lt;/tw-saved-cards&gt;</pre>
          <p>
            where <code>vm.cards</code>
            is an array of cards specific to the TransferWise API,
            <code>vm.selected</code> is an object
            with <code>reference</code> and <code>securityCode</code>
            of the selected card,
            <code>vm.currencySymbol</code> and <code>vm.amount</code>
            are self-explanatory,
            <code>vm.onSubmit</code> is the
            function from parent scope to call upon clicking the pay button and
            <code>vm.isProcessing</code> is a boolean passed from parent scope
            to change the pay button state to disabled.
          </p>
          <p>
            Usage of non-TransferWise-API-specific <code>tw-saved-card</code>
            is possible as well.
          </p>
        </div>
        <div class="col-md-4">
          <h4>
            <code>vm.selected</code>
            <span ng-if="vm.selected.securityCode"
                  class="text-success">(form valid)</span>
            <span ng-if="!vm.selected.securityCode"
                  class="text-warning">(form not valid)</span>
          </h4>
          <pre>{{ vm.selected | json }}</pre>
          <h4><code>vm.isProcessing</code></h4>
          <pre>{{ vm.isProcessing | json}}</pre>
        </div>
      </div>
    </div>
  </div>
  
</div>

<script src="vendor/js/angular.min.js"></script>
<script src="vendor/js/angular-payments.min.js"></script>
<script src="vendor/js/angular-animate.min.js"></script>
<script src="../dist/payment-components.js"></script>
<script src="app.js"></script>

</body>
</html>