<!DOCTYPE html>
<html>
<head>

<title>Payment Components – TransferWise</title>
<meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link href="vendor/css/bootstrap.min.css" rel="stylesheet">
<link href="../dist/payment-components.min.css" rel="stylesheet">

<style>body {background-color: #f2f5f7;}</style>
</head>
<body ng-app="DemoApp" ng-controller="DemoController as vm">

<div class="container m-t-lg">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="m-b-0">Payment components demo</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8">
          <h4 class="m-t-lg m-b-lg"><code>tw-new-card-form</code> in action</h4>
          <tw-new-card-form
            card-details="vm.cardDetails"
            currency-symbol="vm.currencySymbol"
            amount="vm.amount"
            on-submit="vm.pay()"
            is-processing="vm.isProcessing">
          </tw-new-card-form>
        </div>
        <div class="col-md-4">
          <h4 class="m-t-lg m-b-lg">
            <code>vm.cardDetails</code>
            <span ng-if="vm.isNewCardFormValid()"
              class="text-success">(form valid)</span>
            <span ng-if="!vm.isNewCardFormValid()"
              class="text-warning">(form invalid)</span>
          </h4>
          <pre>{{ vm.cardDetails | json }}</pre>
          <h4 class="m-t-lg m-b-lg"><code>vm.isProcessing</code></h4>
          <pre>{{ vm.isProcessing | json}}</pre>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h4 class="m-t-lg m-b-lg"><code>tw-saved-cards</code> in action</h4>
          <tw-saved-cards
            cards="vm.cards"
            selected="vm.selected"
            currency-symbol="vm.currencySymbol"
            amount="vm.amount"
            on-submit="vm.payWithSavedCard()"
            is-processing="vm.isProcessingSavedCard">
          </tw-saved-cards>
        </div>
        <div class="col-md-4">
          <h4 class="m-t-lg m-b-lg">
            <code>vm.selected</code>
            <span ng-if="vm.isSavedCardsValid()"
                  class="text-success">(form valid)</span>
            <span ng-if="!vm.isSavedCardsValid()"
                  class="text-warning">(form invalid)</span>
          </h4>
          <pre>{{ vm.selected | json }}</pre>
          <h4 class="m-t-lg m-b-lg"><code>vm.isProcessingSavedCard</code></h4>
          <pre>{{ vm.isProcessingSavedCard | json}}</pre>
        </div>
      </div>
    </div>
  </div>
  
</div>

<script src="vendor/js/angular.min.js"></script>
<script src="vendor/js/angular-payments.min.js"></script>
<script src="vendor/js/angular-animate.min.js"></script>
<script src="vendor/js/jquery.min.js"></script>
<script src="vendor/js/styleguide-components.min.js"></script>
<script src="../dist/payment-components.js"></script>
<script src="app.js"></script>

</body>
</html>